<div class="dashboard-header-container">
    <div class="dashboard-header-left">
        <h1 class="dashboard-title">Administração</h1>
    </div>
    <div class="dashboard-header-right">
        <span class="welcome-text-dashboard">Olá, Administrador</span>
        <i class="fa-solid fa-user-circle dashboard-icon"></i>
        <i class="fa-solid fa-circle-question dashboard-icon"></i>
    </div>
</div>